<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Formulario de Categoría</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <h1>Formulario de Categoría</h1>
      <form
        th:action="@{/categorias/guardar}"
        th:object="${categoria}"
        method="post"
      >
        <input type="hidden" th:field="*{id}" />
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input
            type="text"
            class="form-control"
            id="nombre"
            th:field="*{nombre}"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </form>
    </div>
  </body>
</html>
