<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Página Principal</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h1>Bienvenido a la Página Principal</h1>
      <div class="row mt-4">
        <div class="col-md-3">
          <a href="usuarios/listarTodo" class="btn btn-primary btn-block"
            >Lista de Usuarios</a
          >
        </div>
        <div class="col-md-3">
          <a href="productos/listarTodo" class="btn btn-primary btn-block"
            >Lista de Productos</a
          >
        </div>
        <div class="col-md-3">
          <a href="roles/listarTodo" class="btn btn-primary btn-block"
            >Lista de Roles</a
          >
        </div>
        <div class="col-md-3">
          <a href="categorias/listarTodo" class="btn btn-primary btn-block"
            >Lista de Categorías</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
